body{
   font-family: 'Ariel', serif;
   background-color: ##ff66cc;
   margin: 0 auto;
   width: 500px;
   height: 600px;
   border: 3px solid  ##99ccff;
   padding: 0 2em 1em;
   
}
h1{
  font-family: 'Times New Roman', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
   color: ##ffffff;
   margin-bottom: .5em;
   font-size: 28px;
   text-align: center;
}

h2{
  font-family: 'Times New Roman', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
   color: #d8ab4e;
   font-size: 12px;
   text-align: center;
}

label{
   float: left;
   width: 10em;
   text-align: left;
   color: ##ffffff;
   font-size: 20px;
}

input{
  
   margin-left: 1em;
   margin-bottom: .5em;
   text-align: center;
  border: 14px ;
  border-radius: 10px;
  

}


input[text]{
   border-style: groove;
}

#calc
{
  font-size: 14px;
  background-color: #fefefe;
  color: #535f80;
  width: 7em;
  cursor: pointer;
  opacity: .6;
  transition: .3s;
}
#calc:hover{opacity:1}


